	<div class="main-wrapper">
	
		<!-- Header -->
		<header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href="index.html" class="navbar-brand logo">
						<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
					</a>
					<a href="index.html" class="navbar-brand logo-small">
						<img src="assets/img/logo-icon.png" class="img-fluid" alt="Logo">
					</a>
				</div>
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="index.html" class="menu-logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
					</div>
					<ul class="main-nav">
						<li>
							<a href="index.html">ホーム</a>
						</li>
						<li>
							<a href="categories.html">カテゴリー</a>
						</li>
						<li class="has-submenu">
							<a href="provider-dashboard.html">提供者</a>
							<ul class="submenu">
								<li><a href="provider-dashboard.html">ダッシュボード</a></li>
								<li><a href="my-services.html">サービス</a></li>
								<li><a href="provider-bookings.html">予約</a></li>
								<li><a href="provider-settings.html">プロフィール設定</a></li>
								<li><a href="provider-wallet.html">財布</a></li>
								<li><a href="provider-subscription.html">サブスクリプション</a></li>
								<li><a href="provider-availability.html">空き状況</a></li>
								<li><a href="provider-reviews.html">レビュー</a></li>
								<li><a href="provider-payment.html">支払い方法</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="user-dashboard.html">客</a>
							<ul class="submenu">
								<li><a href="user-dashboard.html">ダッシュボード</a></li>
								<li><a href="user-bookings.html">予約</a></li>
								<li><a href="user-settings.html">プロフィール設定</a></li>
								<li><a href="user-wallet.html">財布</a></li>
								<li><a href="user-reviews.html">レビュー</a></li>
								<li><a href="user-payment.html">支払い方法</a></li>
							</ul>
						</li>
						<li class="has-submenu active">
							<a href="#">ページ <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="search.html">検索</a></li>
								<li><a href="service-details.html">サービス詳細</a></li>
								<li><a href="add-service.html">サービスを加える</a></li>
								<li><a href="edit-service.html">サービスを編集する</a></li>
								<li><a href="chat.html">チャット</a></li>
								<li><a href="notifications.html">通知</a></li>
								<li class="active"><a href="about-us.html">会社概要</a></li>
								<li><a href="contact-us.html">お問い合わせ</a></li>
								<li><a href="faq.html">よくある質問</a></li>
								<li><a href="#">利用規約</a></li>
								<li><a href="#">プライバシーポリシー</a></li>
							</ul>
						</li>
						<li>
							<a href="admin/index.html" target="_blank">管理者</a>
						</li>
					</ul>
				</div>

				<ul class="nav header-navbar-rht">

					<li class="nav-item desc-list">
						<a href="add-service.html" class="nav-link header-login">
							<i class="fas fa-plus-circle mr-1"></i> <span>サービスを投稿する</span>
						</a>
					</li>

					<!-- Notifications -->
					<li class="nav-item dropdown logged-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fas fa-bell"></i> <span class="badge badge-pill bg-yellow">1</span>
						</a>
						<div class="dropdown-menu notify-blk dropdown-menu-right notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">通知</span>
								<a href="javascript:void(0)" class="clear-noti">全て削除 </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="notifications.html">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/customer/user-01.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Jeffrey Akridge があなたのサービスを予約しました。</span></p>
													<p class="noti-time"><span class="notification-time">今日 22:04</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="notifications.html">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/customer/user-02.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Nancy Olson があなたのサービスを予約しました。</span></p>
													<p class="noti-time"><span class="notification-time">今日 21:45</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="notifications.html">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/customer/user-03.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Ramona Kingsley があなたのサービスを予約しました。</span></p>
													<p class="noti-time"><span class="notification-time">昨日 8:17</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="notifications.html">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/customer/user-04.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Ricardo Lung があなたのサービスを予約しました。</span></p>
													<p class="noti-time"><span class="notification-time">昨日 6:20</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="notifications.html">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/customer/user-05.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Annette Silva があなたのサービスを予約しました。</span></p>
													<p class="noti-time"><span class="notification-time">2020 9/17 22:04</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="notifications.html">全ての通知を見る</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->

					<!-- chat -->
					<li class="nav-item logged-item">
						<a href="chat.html" class="nav-link">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</li>
					<!-- /chat -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow logged-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
							<span class="user-img">
								<img class="rounded-circle" src="assets/img/provider/provider-01.jpg" alt="" width="31">
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img class="avatar-img rounded-circle" src="assets/img/provider/provider-01.jpg" alt="">
								</div>
								<div class="user-text">
									<h6 class="text-truncate">Thomas</h6>
									<p class="text-muted mb-0">提供者</p>
								</div>
							</div>
							<a class="dropdown-item" href="/providers/dashboard">ダッシュボード</a>
							<a class="dropdown-item" href="/providers/my_services">サービス</a>
							<a class="dropdown-item" href="provider-bookings.html">予約リスト</a>
							<a class="dropdown-item" href="provider-settings.html">プロフィール設定</a>
							<a class="dropdown-item" href="provider-wallet.html">財布</a>
							<a class="dropdown-item" href="provider-subscription.html">サブスクリプション</a>
							<a class="dropdown-item" href="provider-availability.html">空き状況</a>
							<a class="dropdown-item" href="chat.html">チャット</a>
							<a class="dropdown-item" href="index.html">ログアウト</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>

			</nav>
		</header>
		<!-- /Header -->
		
		<div class="content">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="section-header text-center">
							<h2>サービスを加える</h2>
						</div>
						<form>
							<div class="service-fields mb-3">
								<h3 class="heading-2">サービス情報</h3>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label>サービスタイトル <span class="text-danger">*</span></label> 
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>サービス金額 <span class="text-danger">*</span></label>
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>サービス場所 <span class="text-danger">*</span></label>
											<input class="form-control" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="service-fields mb-3">
								<h3 class="heading-2">サービスカテゴリー</h3>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>カテゴリー <span class="text-danger">*</span></label>
											<select class="form-control">
												<option>自動車</option>
												<option>建設</option>
												<option>内装</option>
												<option>掃除</option>
												<option>電気</option>
												<option>大工</option>
												<option>コンピュータ</option>
											</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>サブカテゴリー <span class="text-danger">*</span></label>
											<select class="form-control">
												<option>ハウスクリーニング</option>
												<option>フル洗車</option>
												<option>屋根工事</option>
												<option>室内ガラス</option>
												<option>交換可能冷蔵庫</option>
												<option>冷蔵庫</option>
												<option>洗車</option>
												<option>その他</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="service-fields mb-3">
								<h3 class="heading-2">サービスオファー</h3>
								<div class="membership-info">
									<div class="row form-row membership-cont">
										<div class="col-lg-6">
											<div class="form-group">
												<label>サービスオファー <span class="text-danger">*</span></label>
												<input class="form-control" type="text">
											</div>
										</div>
									</div>
								</div>
								<div class="add-more form-group">
									<a href="javascript:void(0);" class="add-membership"><i class="fas fa-plus-circle"></i> さらに加える</a>
								</div>
							</div>
							<div class="service-fields mb-3">
								<h3 class="heading-2">詳細情報</h3>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label>説明 <span class="text-danger">*</span></label>
											<textarea class="form-control service-desc"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="service-fields mb-3">
								<h3 class="heading-2">サービスギャラリー </h3>
								<div class="row">
									<div class="col-lg-12">
										<div class="service-upload">
											<i class="fas fa-cloud-upload-alt"></i> <span>
												サービス画像をアップロードする *</span>
											<input type="file" multiple>
										</div>
										<div>
											<ul class="upload-wrap">
												<li>
													<div class="upload-images">
														<img alt="Service Image" src="assets/img/services/service-08.jpg">
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="submit-section">
								<button class="btn btn-primary submit-btn" type="submit">登録</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>﻿
		
		<!-- Footer -->
		<footer class="footer">
		
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">クイックリンク  </h2>
								<ul>
									<li>
										<a href="about-us.html">会社概要</a>
									</li>
									<li>
										<a href="contact-us.html">お問い合わせ</a>
									</li>
									<li>
										<a href="faq.html">よくある質問</a>
									</li>
									<li>
										<a href="#">ヘルプ</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">カテゴリー</h2>
								<ul>
									<li>
										<a href="search.html">コンピュータ</a>
									</li>
									<li>
										<a href="search.html">内装</a>
									</li>
									<li>
										<a href="search.html">洗車</a>
									</li>
									<li>
										<a href="search.html">掃除</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">お問い合わせ</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="far fa-building"></i></span>
										<p>アメリカ合衆国カリフォルニア州アーバインヒルクレストレーン367</p>
									</div>
									<p><i class="fas fa-headphones"></i> 321 546 8764</p>
									<p class="mb-0"><i class="fas fa-envelope"></i> truelysell@example.com</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget">
								<h2 class="footer-title">フォローする</h2>
								<div class="social-icon">
									<ul>
										<li>
											<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-google"></i></a>
										</li>
									</ul>
								</div>
								<div class="subscribe-form">
                                    <input type="email" class="form-control" placeholder="メールアドレスを入力してください">
                                    <button type="submit" class="btn footer-btn">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
							</div>
							<!-- /Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2020 <a href="index.html">Truelysell</a>. すべての権利を保有しています。</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li>
											<a href="term-condition.html">利用規約</a>
										</li>
										<li>
											<a href="privacy-policy.html">プライバシー</a>
										</li>
									</ul>
								</div>
								<!-- /Copyright Menu -->
							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
			<!-- /Footer Bottom -->
			
		</footer>
		<!-- /Footer -->
		
	</div>
	
	<!-- Provider Register Modal -->
	<div class="modal account-modal fade multi-step" id="provider-register" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header p-0 border-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="login-header">
						<h3>提供者になる</h3>
					</div>
					
					<!-- Register Form -->
					<form action="index.html">
						<div class="form-group form-focus">
							<label class="focus-label">名前</label>
							<input type="text" class="form-control" placeholder="johndoe@exapmle.com">
						</div>
						<div class="form-group form-focus">
							<label class="focus-label">携帯電話番号</label>
							<input type="text" class="form-control" placeholder="986 452 1236">
						</div>
						<div class="form-group form-focus">
							<label class="focus-label">新規パスワード</label>
							<input type="password" class="form-control" placeholder="********">
						</div>
						<div class="text-right">
							<a class="forgot-link" href="#">すでにアカウントを持っていますか？</a>
						</div>
						<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">サインアップ</button>
						<div class="login-or">
							<span class="or-line"></span>
							<span class="span-or">or</span>
						</div>
						<div class="row form-row social-login">
							<div class="col-6">
								<a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> ログイン</a>
							</div>
							<div class="col-6">
								<a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> ログイン</a>
							</div>
						</div>
					</form>
					<!-- /Register Form -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- /Provider Register Modal -->
	
	<!-- User Register Modal -->
	<div class="modal account-modal fade multi-step" id="user-register" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header p-0 border-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="login-header">
						<h3>ユーザになる</h3>
					</div>
					
					<!-- Register Form -->
					<form action="index.html">
						<div class="form-group form-focus">
							<label class="focus-label">名前</label>
							<input type="text" class="form-control" placeholder="johndoe@exapmle.com">
						</div>
						<div class="form-group form-focus">携帯電話番号</label>
							<input type="text" class="form-control" placeholder="986 452 1236">
						</div>
						<div class="form-group form-focus">
							<label class="focus-label">新規パスワード</label>
							<input type="password" class="form-control" placeholder="********">
						</div>
						<div class="text-right">
							<a class="forgot-link" href="#">すでにアカウントを持っていますか？</a>
						</div>
						<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">サインアップ</button>
						<div class="login-or">
							<span class="or-line"></span>
							<span class="span-or">or</span>
						</div>
						<div class="row form-row social-login">
							<div class="col-6">
								<a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> ログイン</a>
							</div>
							<div class="col-6">
								<a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> ログイン</a>
							</div>
						</div>
					</form>
					<!-- /Register Form -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- /User Register Modal -->
	
	<!-- Login Modal -->
	<div class="modal account-modal fade" id="login_modal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header p-0 border-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="login-header">
						<h3>ログイン <span>Truelysell</span></h3>
					</div>
					<form action="index.html">
						<div class="form-group form-focus">
							<label class="focus-label">メール</label>
							<input type="email" class="form-control" placeholder="truelysell@example.com">
						</div>
						<div class="form-group form-focus">
							<label class="focus-label">パスワード</label>
							<input type="password" class="form-control" placeholder="********">
						</div>
						<div class="text-right">	
						</div>
						<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">ログイン</button>
						<div class="login-or">	<span class="or-line"></span>
							<span class="span-or">or</span>
						</div>
						<div class="row form-row social-login">
							<div class="col-6">	<a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> ログイン</a>
							</div>
							<div class="col-6">	<a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> ログイン</a>
							</div>
						</div>
						<div class="text-center dont-have">アカウントを持っていませんか？ <a href="#">登録</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
