<h1>User#password_reset</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/password_reset.html.erb
</p>

<h2><%= @user.name %>様</h2>
<p>
  下記のリンクをクリックしてパスワードを再設定してください。
  <%= link_to('パスワードを再設定する', "#{@url}") %>  
</p>