
<body class="admin-css">
	<div class="main-wrapper">
	
		<!-- Header -->
		<div class="header">
			<div class="header-left"> 
				<a href="index.html" class="logo logo-small">
					<img src="/assets/img/logo-icon.png" alt="Logo" width="30" height="30">
				</a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn">
				<i class="fas fa-align-left"></i>
			</a>
			<a class="mobile_btn" id="mobile_btn" href="javascript:void(0);">
				<i class="fas fa-align-left"></i>
			</a>
			
			<ul class="nav user-menu">
				<!-- Notifications -->
				<li class="nav-item dropdown noti-dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<i class="far fa-bell"></i>  <span class="badge badge-pill"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right notifications">
						<div class="topnav-dropdown-header">
							<span class="notification-title">通知</span>
							<a href="javascript:void(0)" class="clear-noti"> 全て削除</a>
						</div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="admin-notification.html">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-01.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">Thomas Herzberg が登録しました。</span>
												</p>
												<p class="noti-time">
													<span class="notification-time">2020 9/15 22:20</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="admin-notification.html">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-02.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">Matthew Garcia が登録しました。</span>
												</p>
												<p class="noti-time">
													<span class="notification-time">2020 9/13 03:56</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="admin-notification.html">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-03.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">Yolanda Potter が登録しました。</span>
												</p>
												<p class="noti-time">
													<span class="notification-time">2020 9/12 21:25</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="admin-notification.html">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="/assets/img/provider/provider-04.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">Ricardo Flemings が登録しました。</span>
												</p>
												<p class="noti-time">
													<span class="notification-time">2020 9/11 18:36</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="admin-notification.html">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="/assets/img/provider/provider-05.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">Maritza Wasson が登録しました。</span>
												</p>
												<p class="noti-time">
													<span class="notification-time">2020 9/10 08:42</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="admin-notification.html">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="/assets/img/provider/provider-06.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">Marya Ruiz が登録しました。</span>
												</p>
												<p class="noti-time">
													<span class="notification-time">2020 9/9 11:01</span>
												</p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="admin-notification.html">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="/assets/img/provider/provider-07.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">Richard Hughes が登録しました。</span>
												</p>
												<p class="noti-time">
													<span class="notification-time">2020 9/8 06:23</span>
												</p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer">
							<a href="admin-notification.html">全ての通知を見る</a>
						</div>
					</div>
				</li>
				<!-- /Notifications -->
				
				<!-- User Menu -->
				<li class="nav-item dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle user-link  nav-link" data-toggle="dropdown">
						<span class="user-img">
							<img class="rounded-circle" src="/assets/img/user.jpg" width="40" alt="Admin">
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="admin-profile.html">プロフィール</a>
						<a class="dropdown-item" href="login.html">ログアウト</a>
					</div>
				</li>
				<!-- /User Menu -->
				
			</ul>
		</div>
		<!-- /Header -->
		
		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-logo">
				<a href="index.html">
					<img src="/assets/img/logo-icon.png" class="img-fluid" alt="">
				</a>
			</div>
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li>
							<a href="index.html"><i class="fas fa-columns"></i> <span>ダッシュボード</span></a>
						</li>
						<li class="active">
							<a href="categories.html"><i class="fas fa-layer-group"></i> <span>カテゴリー</span></a>
						</li>
						<li>
							<a href="subcategories.html"><i class="fab fa-buffer"></i> <span>サブカテゴリー</span></a>
						</li>
						<li>
							<a href="service-list.html"><i class="fas fa-bullhorn"></i> <span>サービス</span></a>
						</li>
						<li>
							<a href="total-report.html"><i class="far fa-calendar-check"></i> <span>予約リスト</span></a>
						</li>
						<li>
							<a href="payment_list.html"><i class="fas fa-hashtag"></i> <span>支払い</span></a>
						</li>
						<li>
							<a href="ratingstype.html"><i class="fas fa-star-half-alt"></i> <span>評価方法</span></a>
						</li>
						<li>
							<a href="review-reports.html"><i class="fas fa-star"></i> <span>評価</span></a>
						</li>
						<li>
							<a href="subscriptions.html"><i class="far fa-calendar-alt"></i> <span>サブスクリプション</span></a>
						</li>
						<li>
							<a href="wallet.html"><i class="fas fa-wallet"></i> <span>財布</span></a>
						</li>
						<li>
							<a href="service-providers.html"><i class="fas fa-user-tie"></i> <span>サービス提供者</span></a>
						</li>
						<li>
							<a href="users.html"><i class="fas fa-user"></i> <span>ユーザー</span></a>
						</li>
						<li>
							<a href="settings.html"><i class="fas fa-cog"></i> <span> 設定</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->
		
		<div class="page-wrapper">
			<div class="content container-fluid">
			
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-12">
							<h3 class="page-title">ようこそ管理者!</h3>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				
				<div class="row">
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="far fa-user"></i>
									</span>
									<div class="dash-widget-info">
										<h3>429</h3>
										<h6 class="text-muted">ユーザー</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-user-shield"></i>
									</span>
									<div class="dash-widget-info">
										<h3>148</h3>
										<h6 class="text-muted">提供者</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="fas fa-qrcode"></i>
									</span>
									<div class="dash-widget-info">
										<h3>124</h3>
										<h6 class="text-muted">サービス</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 col-12">
						<div class="card">
							<div class="card-body">
								<div class="dash-widget-header">
									<span class="dash-widget-icon bg-primary">
										<i class="far fa-credit-card"></i>
									</span>
									<div class="dash-widget-info">
										<h3>$11378</h3>
										<h6 class="text-muted">サブスクリプション</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 d-flex">
					
						<!-- Recent Bookings -->
						<div class="card card-table flex-fill">
							<div class="card-header">
								<h4 class="card-title">最近の予約</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-center">
										<thead>
											<tr>
												<th>客</th>
												<th>日付</th>
												<th>サービス</th>
												<th>状況</th>
												<th>価格</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-nowrap">
													<img class="avatar-xs rounded-circle" src="/assets/img/customer/user-05.jpg" alt="User Image"> Annette Silva
												</td>
												<td class="text-nowrap">2020 9/9</td>
												<td>車修理サービス</td>
												<td>
													<span class="badge bg-danger inv-badge">保留</span>
												</td>
												<td>
													<div class="font-weight-600">$50</div>
												</td>
											</tr>
											<tr>
												<td class="text-nowrap">
													<img class="avatar-xs rounded-circle" src="/assets/img/customer/user-06.jpg" alt="User Image"> Stephen Wilson</td>
												<td class="text-nowrap">2020 9/8</td>
												<td>スチーム洗車</td>
												<td>
													<span class="badge bg-danger inv-badge">保留</span>
												</td>
												<td>
													<div class="font-weight-600">$14</div>
												</td>
											</tr>
											<tr>
												<td class="text-nowrap">
													<img class="avatar-xs rounded-circle" src="/assets/img/customer/user-07.jpg" alt="User Image"> Ryan Rodriguez</td>
												<td class="text-nowrap">2020 9/7</td>
												<td>ハウスクリーニングサービス</td>
												<td>
													<span class="badge bg-danger inv-badge">保留</span>
												</td>
												<td>
													<div class="font-weight-600">$100</div>
												</td>
											</tr>
											<tr>
												<td class="text-nowrap">
													<img class="avatar-xs rounded-circle" src="/assets/img/customer/user-08.jpg" alt="User Image"> Lucile Devera
												</td>
												<td class="text-nowrap">2020 9/6</td>
												<td>内装デザイン</td>
												<td>
													<span class="badge bg-danger inv-badge">保留</span>
												</td>
												<td>
													<div class="font-weight-600">$5</div>
												</td>
											</tr>
											<tr>
												<td class="text-nowrap">
													<img class="avatar-xs rounded-circle" src="/assets/img/customer/user-09.jpg" alt="User Image"> Roland Storey</td>
												<td class="text-nowrap">2020 9/5</td>
												<td>配管サービス</td>
												<td>
													<span class="badge bg-danger inv-badge">保留</span>
												</td>
												<td>
													<div class="font-weight-600">$150</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- /Recent Bookings -->
						
					</div>
					<div class="col-md-6 d-flex">
					
						<!-- Payments -->
						<div class="card card-table flex-fill">
							<div class="card-header">
								<h4 class="card-title">支払い</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-center">
										<thead>
											<tr>
												<th>日付</th>
												<th>ユーザー</th>
												<th>提供者</th>
												<th>サービス</th>
												<th>金額</th>
												<th>状況</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>2020 9/15</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/customer/user-02.jpg">
														</a>
														<a href="javascript:void(0);">Nancy Olson</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-02.jpg">
														</a>
														<a href="javascript:void(0);">Matthew Garcia</a>
													</span>
												</td>
												<td>車修理サービス</td>
												<td>$50</td>
												<td>
													<span class="badge badge-dark">保留</span>
												</td>
											</tr>
											<tr>
												<td>2020 9/14</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/customer/user-03.jpg">
														</a>
														<a href="javascript:void(0);">Ramona Kingsley</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-03.jpg">
														</a>
														<a href="javascript:void(0);">Yolanda Potter</a>
													</span>
												</td>
												<td>電気パネル修理サービス</td>
												<td>$45</td>
												<td>
													<span class="badge badge-dark">保留</span>
												</td>
											</tr>
											<tr>
												<td>2020 9/13</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/customer/user-04.jpg">
														</a>
														<a href="javascript:void(0);">Ricardo Lung</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-04.jpg">
														</a>
														<a href="javascript:void(0);">Ricardo Flemings</a>
													</span>
												</td>
												<td>スチーム洗車</td>
												<td>$14</td>
												<td>
													<span class="badge badge-dark">保留</span>
												</td>
											</tr>
											<tr>
												<td>2020 9/12</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/customer/user-05.jpg">
														</a>
														<a href="javascript:void(0);">Annette Silva</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-05.jpg">
														</a>
														<a href="javascript:void(0);">Maritza Wasson</a>
													</span>
												</td>
												<td>ハウスクリーニングサービス</td>
												<td>$100</td>
												<td>
													<span class="badge badge-dark">保留</span>
												</td>
											</tr>
											<tr>
												<td>2020 9/11</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/customer/user-06.jpg">
														</a>
														<a href="javascript:void(0);">Stephen Wilson</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="#" class="avatar avatar-xs mr-2">
															<img class="avatar-img rounded-circle" alt="" src="/assets/img/provider/provider-06.jpg">
														</a>
														<a href="javascript:void(0);">Marya Ruiz</a>
													</span>
												</td>
												<td>AMCサービス(コンピュータとサーバー)</td>
												<td>$80</td>
												<td>
													<span class="badge badge-info">進行中</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- Payments -->
						
					</div>
				</div> 
			</div>
		</div> 
	</div>

	<!-- jQuery -->
	<script src="assets/js/jquery-3.5.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/admin.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>